type project
id Makrill.Net4
title Makrill.Net4
version 0.6.0
authors Oskar Gewalli
owners Oskar Gewalli
licenseUrl http://www.apache.org/licenses/LICENSE-2.0
projectUrl https://github.com/NewtonsoftJsonExt/makrill
requireLicenseAcceptance false
description
    Parsing Newtonsoft tokens to standard .net classes.
releaseNotes
    Upgraded Newtonsoft.Json to v9.0.1.
