type file
id Makrill.Src
title Makrill.Src
version 0.6.0
authors Oskar Gewalli
owners Oskar Gewalli
licenseUrl http://www.apache.org/licenses/LICENSE-2.0
projectUrl https://github.com/NewtonsoftJsonExt/makrill
requireLicenseAcceptance false
description
    Parsing Newtonsoft tokens to standard .net classes.
releaseNotes
    Source files for Makrill
files
    ../Makrill/JsonConvert.cs => Content
    ../Makrill/ArrayAndDictionaryConverter.cs => Content
dependencies
    Newtonsoft.Json 9.0.1